html
head
  style.
    .link-btn {
      height: 6em;
      width: 10%;
      padding: 1.5em auto;
      margin: 1em auto;
      background-color: #2ff9fe;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
    }
    .link-btn a {
      text-decoration: none;
      color: black;
    }

body
  div
    h4 Dear #{name},
  div
    p Reset your password using the  link below provided
    p
      a( href!=`${link}` ) Reset Password
    p Yours,
    p StackoverflowClone Team