<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Welcome To Stackoverflow Clone
  body
    p Hi #{name},
    br
    p Thanks for signing up on StackoverflowClone
